 <!doctype html>
 <html class="no-js" lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flask Payment</title>
  <link rel="stylesheet" href="static/css/foundation.css" />
  <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>

    <form action="" method="post">
    <div class="row">
     sender
     <input type="text" name="sender"/>
     receiver
     <input type="text" name="receiver"/>
     amount
     <input type="text" name="amount"/>
     <button class="button postfix" type="submit">Add</button>
    </div>
    </form>

  <script src="static/js/vendor/jquery.js"></script>
  <script src="static/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>
  </body>
  </html>
